article{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    }
    .card{
    flex: 0 0 300px;
    
    
    }
body{
max-width: 1000px;


}