article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3px;
    align-items: stretch;
    
    }
    .card{
    flex: 0 0 33%;
    
    
    }
